.main_div {
    width: 25%;
    height: 100%;
    /* border: 2px solid black; */
    border-radius: 8px;
    margin: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.55);
    background-color: white;

}body{
    background-color: gray;
}

h1 {
    padding-left: 15px;
    font-size: 25px;
}

p {
    padding-left: 15px;
}

.ty {
    display: flex;
    justify-content: center;

}

img {
    width: 100%;
    padding: 5px;
    border-radius: 8px;

}

span {
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 4px;
    cursor: pointer;
}

span:hover {
    border: 1px solid black;
}

.span {
    padding: 5px;

}

.button_h {
    display: flex;
    justify-content: center;

}

.button_a {
    padding: 8px;
    font-size: 12px;
    font-weight: 600;
    background-color: rgb(121, 215, 244);
    border: none;
    border-radius: 12px;
    margin-bottom: 5px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.55);
}